
					<ul id="mainmenu" class="nav navbar-nav nav-menu">
						<li class="<?= ($title['parent'] == "Beranda") ? "active" : ""; ?>">
							<a href="<?= base_url(); ?>">Beranda</a>
						</li>
						<li class="<?= ($title['parent'] == "Tentang Kami") ? "active" : ""; ?>">
							<a href="#">Tentang Kami</a>
							<ul>
								<li>
									<a href="<?= base_url(); ?>page/detail/profil-dinas">Profil Dinas</a>
								</li>
								<li>
									<a href="<?= base_url(); ?>page/detail/visi-misi">Visi Misi</a>
								</li>
								<li>
									<a href="<?= base_url(); ?>page/detail/struktur-organisasi">Struktur Organisasi</a>
								</li>
							</ul>
						</li>

						<!-- <li class="<?= ($title['parent'] == "Layanan") ? "active" : ""; ?>">
							<a href="<?= base_url(); ?>service">Layanan</a>
						</li> -->
						<li class="<?= ($title['parent'] == "Artikel") ? "active" : ""; ?>">
							<a href="#">Woku</a>
							<ul>
								<li>
									<a href="<?= base_url(); ?>post/list/berita">Berita</a>
								</li>
								<li>
									<a href="<?= base_url(); ?>post/list/kegiatan">Kegiatan</a>
								</li>
								<!-- <li>
									<a href="<?= base_url(); ?>post/list/informasi">Informasi</a>
								</li> -->
							</ul>
						</li>
						<li class="<?= ($title['parent'] == "Konsultasi") ? "active" : ""; ?>">
							<a href="#">Konsultasi</a>
							<ul>
								<li>
									<a href="https://wa.me/+6282187948658" target="_blank">Bid. Koperasi</a>
								</li>
								<li>
									<a href="https://wa.me/+6282187948658 " target="_blank">Bid. Pembiyaan & Simpan Pinjam</a>
								</li>
								<li>
									<a href="https://wa.me/+6282187948658" target="_blank">Bid. UMKM</a>

								</li>
								<li>
									<a href="https://wa.me/+6282187948658" target="_blank">Pengaduan</a>

								</li>
							</ul>
						</li>
